body {
  font-family: $rubik;
  font-size: $m;
  background-color: #ffffff;
  font-weight: 400;
  color: $blue_300;
  line-height: 1.9;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  &--sm {
    max-width: 1200px;
  }
}

.title {
  text-align: center;
  font-size: $xl;
  color: $black_100;
  font-weight: 700;
  line-height: 1.2;
  font-family: $dm_sans;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  @include r($ph) {
    font-size: $md;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 19px 85px 19px 15px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: background-color 0.2s linear;

  &:focus {
    outline: 1px solid $blue_200;
  }

  &:hover {
    background-color: $blue_500;
  }

  &:active {
    color: $blue_500;
  }

  &::before {
    position: absolute;
    content: "";
    @include contain;
    height: 9px;
    width: 22px;
    top: 30px;
    right: 18px;
  }
}

.logo {
  &:focus {
    outline: 1px solid $blue_200;
  }
}
