body {
  font-family: $dm_sans;
  font-size: $main_fz;
  line-height: 1;
  background-color: #ffffff;
  font-weight: 400;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;

  &--sm {
    max-width: 1200px;
  }
}

.title {
  font-size: $title_fz;
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 24px 98px 22px 28px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $color_7;
  }
  &:focus {
    outline: 1px solid $color_16;
  }

  &:active {
    color: $color_7;
  }

  &::before {
    position: absolute;
    content: "";
    @extend %contain;
    height: 9px;
    width: 22px;
    top: 27px;
    right: 18px;
  }
}

.logo {
  &:focus {
    outline: 1px solid $color_16;
  }
}
