body {
  font-family: $dm_sans;
  font-size: $main_fz;
  line-height: 1;
  background-color: #ffffff;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: $title_fz;
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}