$blue_100:   #131313;
$blue_200:   #181A43;
$blue_300:   #243F4D;
$blue_400:   #00486A;
$blue_500:   #023D4C;
$blue_600:   #2B6373;
$blue_700:   #436372;

$black_100:  #191919;
$black_200:  #262626;
$black_300:  #222933;
$black_900:  #E1E1E1;

$gray_100:   #3F3F3F;
$gray_200:   #575757;
$gray_300:   #8C8C8C;
$gray_400:   #7C7C7C;
$gray_500:   #7B7B7B;
$gray_600:   #A3BBC8;
$gray_700:   #9ABCCA;
$gray_800:   #F8F8F8;
$gray_900:   #FCD7B6;

$white_100:  #FFFFFF; 
$white_200:  #D7E5EA;
$white_300:  #EAE5DF;
$white_400:  #FFF7F0;
$white_500:  #FFE4CC;
$white_600:  #FFE8D3;
$white_700:  #FFD8B6;
$white_800:  #ECF1F4;
$white_900:  #FFEFE2;

$pink_100:   #fffbf1;

$xxl: 72px;
$xl: 36px;
$md: 26px;
$md_l: 20px;
$l: 18px;
$m: 16px;
$s: 14px;
$xs: 12px;

$dm_sans: 'DM Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;
$myriadpro: 'Myriad Pro', sans-serif;

$ph: 575;
$tb: 767;
$lp: 991;
$ds: 1366;

@mixin contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin pos_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin pos_full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

 @mixin r($ph) {
   @media only screen and (max-width: $ph+ "px") {
     @content;
   }
 }

 @mixin r($tb) {
   @media only screen and (max-width: $tb+ "px") {
     @content;
   }
 }

 @mixin r($lp) {
   @media only screen and (max-width: $lp+ "px") {
     @content;
   }
 }
 
 @mixin r($ds) {
   @media only screen and (max-width: $ds+ "px") {
     @content;
   }
 }

 @function max($numbers...) {
   @return m#{a}x(#{$numbers});
 }
 @function min($numbers...) {
   @return m#{i}n(#{$numbers});
 }