@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "global";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 45px;
  }
}

.logo {
&:focus {
      outline: 1px dotted #000;
    }
}

.menu {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    color: $color_1;
    font-family: $rubik;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.15s linear;

    &:hover {
      color: $color_4;
    }

    &:focus {
      outline: 1px dotted #000;
    }

    &:active {
      color: $color_7;
    }
  }
}

.user {
  display: flex;

  &__btn,
  &__favorites,
  &__basket,
  &__shopping {
    position: relative;
    cursor: pointer;
  }

  &__btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    &::after {
    position: absolute;
    content: "";
    @extend %contain;
    @extend %position_center;
    height: 16px;
    width: 16px;
  }
  }

  &__btn--search {
    margin-right: 21px;
    

    &::after {
      background-image: url("../images/header/search.svg");
    }
  }

  &__btn--nemu {
    background-color: $color_3;

    &::after {
      background-image: url("../images/header/menu.svg");
    }
  }

  &__shopping {
    background-color: $color_4;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 22px 41px 13px;
    margin-right: 18px;

    &::after {
    position: absolute;
    content: "";
    height: 32px;
    width: 1px;
    background-color: $color_5;
    left: 50%;
    top: 10px;
  }
  }

  &__favorites,
  &__basket {
    height: 17px;
    width: 19px;
  }

  &__favorites::after,
  &__basket::after {
    position: absolute;
    content: "";
    @extend %contain;
  }

  &__favorites::after,
  &__basket::after {
    width: 100%;
    height: 100%;
  }

  &__favorites::after {
    background-image: url("../images/header/favorites.svg");
  }

  &__basket::after {
    background-image: url("../images/header/basket.svg");
  }

  &__numbers {
    padding: 5px;
    border-radius: 50%;
    background-color: $color_6;
    font-size: 10px;
    position: absolute;
    bottom: 7px;
    left: 12px;
  }
}

.slider {
  font-family: $rubik;

  &__item {
    background-color: $color_4;
    position: relative;
    cursor: pointer;
  }

  &__item::after {
    position: absolute;
    content: "";
    background: linear-gradient(-90deg, #fff, transparent);
    border-radius: 50%;
    height: 635px;
    width: 635px;
    right: 185px;
    top: 100px;
  }

  &__element {
    padding: 10px 0;
    max-width: 1170px;
    min-height: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__heading {
    font-size: $big_fz;
    color: $color_7;
    font-weight: 500;
    text-transform: uppercase;
    @extend %contain;
    margin-bottom: 15px;
  }

  &__text {
    font-size: $fz_1;
    line-height: 1.6;
    margin-bottom: 15px;
    color: $color_1;
  }

  &__btn {
    color: $color_6;
    background-color: $color_3;
    padding: 24px 98px 22px 28px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s linear;
  }

  &__btn:hover {
    background-color: $color_7;
  }

  &__btn::after {
    position: absolute;
    content: "";
    background-image: url("../images/slider/arrow.svg");
    @extend %contain;
    height: 9px;
    width: 22px;
    top: 27px;
    right: 18px;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 40px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots button {
  font-size: 10px;
  font-family: $rubik;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-color: $color_8;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.slick-dots .slick-active button,
.slick-dots button:hover {
  background-color: $color_6;
}

.other {
  display: flex;
  justify-content: space-around;
  background-color: $color_11;
  font-family: $dm_sans;

  &__item {
    padding: 40px 0;
    position: relative;
  }

  &__item::after {
    position: absolute;
    content: "";
    height: 50px;
    width: 60px;
    @extend %contain;
    left: -80px;
    top: 50px;
  }

  &__item--one::after {
    background-image: url("../images/slider/support.svg");
  }

  &__item--two::after {
    background-image: url("../images/slider/delivery.svg");
  }

  &__item--three::after {
    background-image: url("../images/slider/payment.svg");
  }

  &__item:not(:last-child)::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: $color_14;
    top: 0;
    right: -145px;
  }

  &__title {
    font-weight: 700;
    line-height: 2.2;
    color: $color_9;
  }

  &__text {
    line-height: 1.9;
    color: $color_10;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &__title {
    margin-bottom: 33px;
  }

  &__item:not(:last-child) {
    margin-right: 33px;
  }

  &__btn {
    font-weight: 700;
    color: $color_12;
    transition: color 0.2s linear;
    cursor: pointer;
    background-color: transparent;
  }

  &__btn:hover {
    color: $color_13;
  }
}

.products {
  margin: 65px auto 0;
  max-width: 1200px;

  &__inner {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 15px;
    width: 270px;
    text-align: center;
    min-height: 377px;
    margin: 0 15px 40px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
  }

  &__item:hover {
    border-radius: 15px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
  }

  &__item:hover .products__element {
    opacity: 1;
  }

  &__element {
    position: absolute;
    @extend %position_center;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &__link {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color_6;
    transition: background-color 0.2s linear;
  }

  &__link:not(:last-child) {
    margin-right: 15px;
  }

  &__link:hover {
    background-color: $color_15;
  }

  &__path {
    fill: $color_15;
    transition: fill 0.2s linear;
  }

  &__link:hover .products__path {
    fill: $color_6;
  }

  &__img {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__heading {
    font-weight: 500;
    line-height: 2.2;
    color: $color_7;
    display: block;
  }

  &__price {
    line-height: 2.2;
    font-weight: 700;
    color: $color_3;
  }
}

.footer {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;

  &__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color_19;
  }

  &__item {
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &__heading {
    line-height: 1.3;
    font-weight: 700;
    color: $color_16;
    text-transform: uppercase;
  }

  &__heading,
  &__logo {
    margin-bottom: 15px;
  }

  &__link,
  &__text {
    line-height: 2;
    font-family: $rubik;
    color: $color_17;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__link {
    line-height: 2;
    font-family: $rubik;
    color: $color_17;
    transition: color 0.15s linear;
  }

  &__link:hover {
    color: $color_10;
    text-decoration: underline;
  }
}

.address {
  font-family: $rubik;
  color: $color_17;
  line-height: 1.7;

  &__text,
  &__tel {
    margin-bottom: 10px;
  }

  &__tel,
  &__email {
    display: block;
  }

  &__tel:hover,
  &__email:hover {
    text-decoration: underline;
  }
}

.form {
  display: flex;

  &__email {
    background-color: $color_11;
    font-size: $extrasmall_fz;
    color: $color_18;
    padding: 15px;
    transition: background-color 0.15s linear, outline 0.15s linear;
  }

  &__email:focus {
    outline: 1px solid $color_3;
    background-color: $color_6;
  }

  &__btn {
    background-color: $color_3;
    font-size: $small_fz;
    line-height: 1.5;
    color: $color_6;
    padding: 10px 18px;
    cursor: pointer;
    transition: background-color 0.15s linear;
  }

  &__btn:hover {
    background-color: $color_1;
  }
}

.copy {
  display: flex;
  justify-content: space-between;
  font-family: $rubik;
  font-size: $small_fz;
  line-height: 2.2;
  color: $color_17;
  margin: 30px 0 40px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    position: relative;
  }

  &__link:not(:last-child)::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: $color_17;
    right: -18px;
    top: 0;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

@import "media";
