.wrapper {
  &--active {
    padding-top: 145px;

    @include r($ph) {
      padding-top: 125px;
    }
  }
}

.header {
  background-color: $white_100;
  transition: background-color 0.2s linear;

  &--fixed {
    position: fixed;
    background-color: $pink_100;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 45px;
    flex-wrap: wrap;

    @include r($ph) {
      padding: 10px 0;
      position: relative;
      flex-direction: column;
    }

    .close {
      position: absolute;
      padding: 5px;
      top: 20px;
      right: 20px;
      height: 20px;
      width: 20px;
      position: absolute;
      z-index: 10;
      background-image: url("../images/close.svg");
      @include contain;
      cursor: pointer;
      display: none;

      @include r($lp) {
        &--active {
          display: block;
        }
      }
    }
  }

  .menu {
    @include r($lp) {
      position: absolute;
      flex-direction: column;
      background-color: #ecf1f4;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      border-radius: 40px;
      padding: 30px 0 10px;
      transform: translateX(150%);
      z-index: 5;
      transition: all 1.3s linear;
    }

    &--active {
      transform: translateX(0);
    }

    @include r($ph) {
      transition: all 0.75s linear;
    }

    &__item {
      @include r($lp) {
        padding: 5px 0;
      }
    }

    &__item:not(:last-child) {
      margin-right: 30px;

      @include r($lp) {
        margin-right: 0;
      }
    }
  }
}

.logo {
  @include r($ph) {
    margin-bottom: 15px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    color: $blue_600;
    font-family: $rubik;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.15s linear;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    &:focus {
      outline: 1px solid $blue_200;
    }

    &:hover {
      color: $white_700;
    }

    &:active {
      color: $blue_500;
    }
  }

  .logo__icon {
    object-fit: cover;
  }
}

.user {
  display: flex;

  @include r($ph) {
    justify-content: space-between;
    width: 100%;
  }

  &__box {
    display: flex;
  }

  &__btn,
  &__shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      .user__icon {
        fill: #2c824b;
      }
    }
  }

  &__btn {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    transition: background-color 0.2s linear;

    &:focus {
      outline: 1px solid $blue_200;
    }

    &:hover {
      background-color: $white_700;
    }

    &--search {
      margin-right: 21px;
      background-color: $white_800;

      @include r($ph) {
        margin-right: 5px;
      }
    }
    &--menu {
      background-color: $gray_700;
      transition: background-color 0.35s linear;
    }
  }

  &__shopping {
    background-color: $white_700;
    width: 90px;
    height: 52px;
    transition: background-color 0.2s linear;
    position: relative;

    &:focus {
      outline: 1px solid $blue_200;
    }

    &:hover {
      background-color: $white_800;
    }

    &:active {
      color: $blue_500;
    }

    &--one {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        right: 0;
        height: 32px;
        width: 1px;
        background-color: $white_600;
      }
    }

    &--two {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      margin-right: 18px;

      @include r($ph) {
        margin-right: 5px;
      }
    }
  }

  &__numbers {
    padding: 5px;
    border-radius: 50%;
    background-color: $white_100;
    font-size: 10px;
    position: absolute;
    top: 4px;
    right: 25px;
    line-height: 1;
  }

  &__icon {
    fill: $blue_300;

    &--color {
      fill: $white_100;
    }
  }
}
