.slider-top {
  font-family: $rubik;
  background-color: $color_4;
  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(-90deg, #fff, transparent);
    border-radius: 50%;
    height: 66.44%;
    width: 33.27%;
    right: 185px;
    top: 100px;
    z-index: -1;
  }

  &__item {
    cursor: pointer;
  }

  &__element {
    padding: 10px 0;
    min-height: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__heading {
    font-size: $big_fz;
    color: $color_7;
    font-weight: 500;
    text-transform: uppercase;
    @extend %contain;
    margin-bottom: 15px;
    line-height: 1;
  }

  &__text {
    font-size: $fz_1;
    line-height: 1.6;
    margin-bottom: 44px;
    color: $color_1;
  }

  &__btn {
    color: $color_6;
    background-color: $color_3;

    &::before {
      background-image: url("../images/slider-top/arrow.svg");
    }
  }

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 40px;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-dots button {
    font-size: 10px;
    font-family: $rubik;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-color: $color_8;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 10px;
  }

  .slick-dots .slick-active button,
  .slick-dots button:hover {
    background-color: $color_6;
  }
}
.advantages {
  display: flex;
  justify-content: space-around;
  background-color: $color_11;
  font-family: $dm_sans;

  &__item {
    padding: 40px 0;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 50px;
      width: 60px;
      @extend %contain;
      left: -80px;
      top: 50px;
    }
  }

  &__item--one::after {
    background-image: url("../images/advantages/support.svg");
  }

  &__item--two::after {
    background-image: url("../images/advantages/delivery.svg");
  }

  &__item--three::after {
    background-image: url("../images/advantages/payment.svg");
  }

  &__item:not(:last-child)::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: $color_14;
    top: 0;
    right: -145px;
  }

  &__title {
    font-weight: 700;
    line-height: 2.2;
    color: $color_9;
  }

  &__text {
    line-height: 1.9;
    color: $color_10;
  }
}
