.slider-partners {
  background-color: $white_900;
  margin-bottom: 96px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  &__item {
    max-width: 150px;
    height: 250px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  &__img {
    // max-height: 100%;
  }

  .slick-slide {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
